{
  "extends": [
    "travix/base",
    "travix/react"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "env": {
    "browser": true,
    "jest": true
  }
}
