.board {
  display: grid;
  grid-template-columns: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-items: flex-start;
}

@media all and (min-width:600px) {
  .board {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (min-width:900px) {
  .board {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (min-width:1200px) {
  .board {
    grid-template-columns: repeat(4, 1fr);
  }
}